<section class="login">
<div class="icono-login" style="text-align:center">
    <img class="img-fluid" src="../assets/images/bbva-app.png" alt="bbva logo">
  </div>
<div class="boton-login">
  <button routerLink="/graficos" type="button" class="btn face-btn" (click)="socialSignIn('facebook')"><img class="img-fluid" src="../../assets/images/facebook-logo.svg" alt="icono facebbok"> Sign in with Facebook</button>
  <button routerLink="/graficos" type="button" class="btn goo-btn" (click)="socialSignIn('google')"><img class="img-fluid" src="../../assets/images/google-plus-logo.svg" alt="icono google"> Sign in with Google</button>  
</div>
<footer>
  <p>By signing up, you agree with the <a href="#">Terms of Service</a> and <a href="#"> Privacy Policy</a></p> 
</footer>
</section>