<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
        <a class="navbar-brand text-light">
            <img src="../../assets/images/chat.svg" width="50" height="50" class="d-inline-block align-top" alt=""><span>Jane Smith <span class="explorer">Explorer</span></span>
        </a>
      <ul class="navbar-nav mr-auto">
        <li class="bg-dark" style="height:3em"></li>
        <li class="nav-item active">
          <a class="nav-link text-light">
            <img class="icon-menu" src="../../assets/images/speedometer-tool.svg">
            Dashboard
            <img class="icon-next" src="../../assets/images/next.svg">
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/cuentas">
            <img class="icon-menu" src="../../assets/images/accounting.svg">
            My Accounts
            <img class="icon-next" src="../../assets/images/next.svg">
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">
            <img class="icon-menu" src="../../assets/images/star.svg">
            Credit card
            <img class="icon-next" src="../../assets/images/next.svg">
        </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light">
              <img class="icon-menu" src="../../assets/images/chat.svg">
              Messages
              <img class="icon-next" src="../../assets/images/next.svg">
          </a>
        </li>
        <li style="height:5em"></li>
        <li class="bg-dark" style="height:3em"></li>
        <li class="nav-item">
            <a class="nav-link text-light">
              <img class="icon-menu" src="../../assets/images/settings-work-tool.svg">
              Settings
              <img class="icon-next" src="../../assets/images/next.svg">
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light">
              <img class="icon-menu" src="../../assets/images/padlock.svg">
              Privacy & terms
              <img class="icon-next" src="../../assets/images/next.svg">
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light">
              <img class="icon-menu" src="../../assets/images/logout.svg">
              Logout
          </a>
        </li>
        <li style="height:1em"></li>
      </ul>
    </div>
</nav>
<app-vista></app-vista>